.listItemContainer {
  display: flex;
  gap: 24px;
  width: 840px;
}

.contentContainer {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex-direction: column;
  width: 526px;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.photoContainer {
  border-radius: 10px;
  min-width: 290px;
  margin: 0 auto;
}

.photo {
  position: static;
  /* display: block; */
  width: 100%;
}

.priceAndButton {
  display: flex;
  gap: 10px;
}

.favoritesButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
}

.ratingAndLocation {
  display: flex;
  gap: 16px;
}

.littleInfo {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.heartIcon {
  fill: #ffffff;
  stroke: #101828;
}

.starIcon {
  border-radius: 0.5px;
}

.locationIcon {
  fill: #ffffff;
  stroke: #101828;
}

.descriptionText {
  width: 525px;
  height: 24px;
  color: rgb(71, 84, 103);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.usersIcon {
  fill: #101828;
}

.transIcon {
  fill: #ffffff;
  stroke: #101828;
}

.engineIcon {
  fill: #101828;
}

.kitchenIcon {
  fill: #ffffff;
  stroke: #101828;
}

.bedIcon {
  fill: #ffffff;
  stroke: #101828;
}

.airConditionerIcon {
  fill: #101828;
}

.infoCamperList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.infoCamperItem {
  display: flex;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  background: rgb(242, 244, 247);
}

.showMoreButton {
  width: 166px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px 16px 40px;
  border-radius: 200px;
  background: rgb(228, 72, 72);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
