.catalogList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

.catalogItem {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 24px;
}

.showMoreBtn {
  padding: 16px 32px;
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  color: rgb(16, 24, 40);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
