.favoritesHeader {
  color: rgb(16, 24, 40);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 32px;
}

.favoritesList {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.favoriteItem {
  border: 1px solid rgba(29, 185, 55, 0.87);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 24px;
}
