.featuresContainer {
  display: flex;
  gap: 24px;
}

.listsContainer {
  display: flex;
  flex-direction: column;
  gap: 44px;
  max-height: 530px;
}

.detailsCamperList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  width: 430px;
}

.moreInfoCamperItem {
  display: flex;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  background: rgb(242, 244, 247);
  justify-content: center;
  align-items: center;
}

.usersText {
  width: 62px;
  height: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(16, 24, 40);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
}

.transText {
  composes: usersText;
  width: 79px;
}

.engineText {
  composes: usersText;
  width: 45px;
}

.kitchenText {
  composes: usersText;
  width: 59px;
}

.bedsText {
  composes: usersText;
  width: 50px;
}

.airConditionerText {
  composes: usersText;
  width: 23px;
}

.cdText {
  composes: usersText;
  width: 24px;
}

.radioText {
  composes: usersText;
  width: 44px;
}

.hobText {
  composes: usersText;
  width: 44px;
}

.tvText {
  composes: usersText;
  width: 24px;
}

.microwaveText {
  composes: usersText;
  width: 85px;
}

.freezerText {
  composes: usersText;
}

.toiletText {
  composes: usersText;
  width: 42px;
}

.showerText {
  composes: usersText;
  width: 58px;
}

.usersIcon {
  fill: #101828;
}

.transIcon {
  fill: #ffffff;
  stroke: #101828;
}

.engineIcon {
  fill: #101828;
}

.kitchenIcon {
  composes: transIcon;
}

.bedIcon {
  composes: transIcon;
}

.airConditionerIcon {
  fill: #101828;
}

.cdIcon {
  composes: transIcon;
}

.radioIcon {
  composes: transIcon;
}

.hobIcon {
  composes: transIcon;
}

.tvIcon {
  composes: transIcon;
}

.microwaveIcon {
  composes: transIcon;
}

.freezerIcon {
  composes: transIcon;
}

.showerIcon {
  composes: transIcon;
}

.toiletIcon {
  fill: #101828;
}

.anotherDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.vehicleDetailsHeader {
  color: rgb(16, 24, 40);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.decorativeLine {
  width: 430px;
  height: 1px;
  background-color: rgba(16, 24, 40, 0.1);
}

.anotherDetailsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.anotherDetail {
  display: flex;
  justify-content: space-between;
}

.detail {
  color: rgb(16, 24, 40);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
